registry=https://pkgs.dev.azure.com/shahenvaOrg/_packaging/shahenvaOrg/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/shahenvaOrg/_packaging/shahenvaOrg/npm/registry/:username=shahenvaOrg
//pkgs.dev.azure.com/shahenvaOrg/_packaging/shahenvaOrg/npm/registry/:_password=ZHZiazVvbnNycTU3M3FlZWJmN3BibDd0eGVzbGNjbDd6YTQ1N3hwZzVnYmt2Zm50cXhjcQ==
//pkgs.dev.azure.com/shahenvaOrg/_packaging/shahenvaOrg/npm/registry/:email=ska78647@gmail.com
//pkgs.dev.azure.com/shahenvaOrg/_packaging/shahenvaOrg/npm/:username=shahenvaOrg
//pkgs.dev.azure.com/shahenvaOrg/_packaging/shahenvaOrg/npm/:_password=ZHZiazVvbnNycTU3M3FlZWJmN3BibDd0eGVzbGNjbDd6YTQ1N3hwZzVnYmt2Zm50cXhjcQ==
//pkgs.dev.azure.com/shahenvaOrg/_packaging/shahenvaOrg/npm/:email=ska78657@gmail.com
; end auth token